<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>El Mejor Equipo de la Historia</title>
</head>
<h2>Real Madrid</h2>

<body>
    <p>El Real Madrid Club de Fútbol, más conocido simplemente como Real Madrid, es una entidad polideportiva con sede
        en Madrid, España.
        Fue declarada oficialmente registrada como club de fútbol por sus socios el 6 de marzo de 1902 con el objeto de
        la práctica y
        desarrollo de este deporte —si bien sus orígenes datan al año 1900,​ y su denominación de (Sociedad) Madrid
        Foot-ball Club a
        noviembre de 1901— siendo el quinto club fundado en la capital. Tuvo a Julián Palacios y los hermanos Juan
        Padrós y Carlos Padrós
        como principales valedores de su creación</p>
    <h3>Himno</h3>
    <p>Con motivo de la consecución de la décima Copa de Europa de fútbol, el cantante Nadir Khayat, más conocido por su
        nombre artístico RedOne
        y con letra de Manuel Jabois, compuso un himno conmemorativo titulado «Hala Madrid y nada más». Con motivo de la
        undécima Copa de Europa
        se versionó la música, cantada por Plácido Domingo, bajo la dirección de RedOne.</p>

    <h3>Titulos</h3>
    <p>El Real Madrid C. F. acumula en sus casi ciento veinte años de historia numerosos trofeos tanto nacionales como
        internacionales. Entre ellos
        destacan por importancia, trece Copas de Europa, dos Copas de la UEFA, cuatro Supercopas de Europa, dos Copas
        Latinas, dos Pequeñas Copas del Mundo,
        una Copa Iberoamericana, tres Copas Intercontinentales y cuatro Copas Mundiales de Clubes en el plano
        internacional,
        y treinta y cuatro Ligas,
        diecinueve Copas de España, once Supercopas de España, una Copa de la Liga, una Copa Eva Duarte, cinco Trofeos
        Mancomunados, dieciocho Campeonatos Regionales
        y tres Copas Regionales en los campeonatos nacionales.</p>

    <p>
    <address> Real Madrid</address>
    </p>
    <a href="https://es.wikipedia.org/wiki/Real_Madrid_Club_de_F%C3%BAtbol">Mas informacion </a>
</body>

</html>